*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.name{
      text-align: center ;
      color:grey;
      padding-bottom: 0.3em;
}

.wrap{
    width: 50%;
}

.icon{
    width: 40px;
    height: 4px;
    background: grey;
    margin: 8px;
    
}

.content{
    padding: 1em;
}

.hero{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.hero h1{
    color: lightslategray;
}

.image-1{
    display: block;
    width: 100%;
}

